
h1
{
	color: black;
}

#MyAboutContent
{
    font-family: "helvectica";
    font-size: 20px;
}
#collapsable-nav
{
	margin-top: 12px;
}
.row
{
}

body{
	background-size: 100%;
	background-repeat: no-repeat;
}

#nameH3
{
padding-top: 1px;
text-align: center;
color: black;
}



/*.TopDiv
{
	height: 500px;
    width: 100%;
    background-color: grey;
    background-image: url("../images/backGroundImage.jpg");
    background-size: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;

}*/



#WebsiteLogo
{
	height: 50px;
	width: 50px;
}
div.navbar-header
{
	height: 100px;
}

@media(min-width: 400px )
{
h1{
	margin-top:1px;
	font-size: 20pt;

}

#collapsable-nav
{
	margin-top: 12px;
}
}