@media(min-width: 616px ) and (max-width: 2000px)
{
h1
{
	color: black;
	font-size: 20pt;
	margin-top: 0px;
}

#MyAboutContent
{
background: rgba(0,0,0,0.5);
font: 20px "Roboto Condensed",sans-serif;
font-weight: 100;
color: #979894;
margin-top: 0px;
margin-left: 40px;
margin-right: 40px;

}
#About{

	margin-top:0px;
	color: white;
	padding-top: 150px;
}

#collapsable-nav
{
	margin-top: 12px;
}


#Projects
{
color: white;
}
#Resume
{
color: white;

}

body{
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
}

#nameH3
{
padding-top: 1px;
text-align: center;
color: black;
}




#TopContent
{
	margin-top: 0px;
	height: 100%;
    width: 100%;
    background-color: grey;
    background-image: url("../images/introBackground.jpeg");
    background-size: 100%;
    opacity: 1;
    background-repeat: no-repeat;

}
}


#WebsiteLogo
{
	height: 50px;
	width: 50px;
}
div.navbar-header
{
	height: 100px;
}



@media(min-width: 200px ) and (max-width: 615px)
{
h1{
	margin-top:1px;
	font-size: 20pt;

}
body{
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
}
#Projects
{
color: white;
}

#collapsable-nav
{
	margin-top: 12px;
}

#MyAboutContent
{
background: rgba(0,0,0,0.5);
font: 12px "Roboto Condensed",sans-serif;
font-weight: 100;
color: #979894;
margin-top: 0px;
margin-left: 20px;
margin-right: 20px;

}
#About{

	margin-top:0px;
	color: white;
}
#TopContent
{
	margin-top: 0px;
	height: 100%;
    width: 100%;
    background-color: grey;
    background-image: url("../images/introBackground.jpeg");
    background-size: cover;

    opacity: 1;
    background-repeat: no-repeat;

}


}