
* {
  box-sizing: border-box;
}


h1{
  text-align: center;
}

div h2
{
  text-align: center;
  float: right;
  width: 100px;
  height:30px;
  margin: -10px;

}





.box
{
width: 100px;
border: 2px solid black;
background-color: grey;
margin: -5px;

}



/* DESKTOP VERSION*/
@media (min-width: 992px)  {

.mutton{
  background-color: red;

}

#section1
{

	width: 400px;
		height: 250px;
    float: left;
    padding: 10px;
    margin: 5px;

}

#section2
{
	width: 400px;
	height: 250px;
  float: left;
  padding: 10px;
  margin: 5px;

}



#section3
{
 	width: 400px;
 	height: 250px;
  float: left;
  padding: 10px;
  margin: 5px;

}





 body {
  /*background-color: red;*/
  }
}


/* TABLET VERSION*/

@media (min-width: 768px) and (max-width: 991px) {
 
/*  body {
    background-color: blue;
  }*/
}


/* MOBILE VERSION*/


@media (max-width:767px)  {
/*  body {
    background-color: yellow;
  }*/
}


