h1{
  text-align: center;
}

#ChickenH3
{
background-color: pink;
}
#BeefH3
{
background-color: red;
color: white;
}
#SushiH3
{
background-color: yellow;
}


/* DESKTOP VERSION*/
@media (min-width: 992px) 
{
h3{
  width: 100px;

  text-align: center;
  margin-left: 230px;
  margin-top: 0;
  margin-right: 0;
  }
body{
  height: 500px;
  margin: 0px;
  padding: 0px;
}

  .col-md-4 {
    width: 33.33%;
    float: left;
    background-color: white;
  }
  section
  {
    width: 330.33px;
    background-color: grey;
    margin right: 5px;
    margin-left: 5px;
    height: 250px;
    padding: 3px;
  }
p{
  display: inline;
  text-align: left;

  margin: 0px;
  padding: 5px;
  width: 250px;
  height: 200px;
}
}
  



/* TABLET VERSION*/

@media (min-width: 768px) and (max-width: 991px)
{

p
{
  text-align: left;
  margin-left: 5px;
}
h3
{
  margin-left: 5px;
  margin-left: 274px;
  display: block;
  width: 100px;
  text-align: center;
  margin-right: 0;
}

body
{
  height: 500px;
  margin: 0px;
  padding: 0px;
}
.col-md-6
{
  float: left;
  width: 50%;
}

section
  {
    position: relative;
    background-color: grey;
    margin-left: 5px;
    margin-right: 5px;
    height: 250px;

  }
.removeFloat
{
  clear: left;
  width: 100%;
}

#SushiH3
{

}

}


/* MOBILE VERSION*/


@media (min-width:767px)  {

h3
{
  margin-left: 5px;
  margin-left: 274px;
  display: block;
  width: 100px;
  text-align: center;
  margin-right: 0;
}


  section
  {
    position: relative;
    background-color: grey;
    margin-left: 5px;
    margin-right: 5px;
    height: 250px;

  }
/*  body {
    background-color: yellow;
  }*/
}


